.auth-reset{
   .icon-1{
       position: absolute;
       right: 15px;
       bottom: 157px;
       color:#9FA2B4;
    }
   .icon-2{
       position: absolute;
       right: 15px;
       bottom: 85px;
       color:#9FA2B4;
    }
}