.auth-reg{
    .icon-1{
        position: absolute;
        right: 40px;
        bottom: 190px;
        color:#9FA2B4;
     }
    .icon-2{
        position: absolute;
        right: 40px;
        bottom: 115px;
        color:#9FA2B4;
     }
}