.auth-login,
.auth-reg,
.auth-reset-pass,
.auth-reset {

   form {
      margin-top: 10px;
      position: relative;

      label {
         text-align: start;
         text-transform: uppercase;

         input {
            margin-top: 5px;
            width: 100%;
            padding: 10px;
            border-radius: 8px;
            border: 1px solid #F0F1F7;
            outline: none;
            color: #8a8a8a;
            margin-bottom: 10px;

            &::placeholder {
               color: #4B506D;
               opacity: 0.4;
            }
         }

         .icon {
            position: absolute;
            right: 10px;
            bottom: 85px;
            color: #9FA2B4;
         }
      }

      button {
         background-color: #fff;
         border: none;
         cursor: pointer;
      }
   }

}

.forgot-pass {
   display: flex;
   justify-content: center;
   gap: 10px;
   margin-top: 20px;

   a {
      color: #3751FF;
      font-weight: 600;
      letter-spacing: 1px;
   }

}