.auth-login,.auth-reg {
   margin-top: 30px;

   .title{
      text-align: center;
   }

   h2 {
      font-size: 24px;
      color: #000;
      font-weight: 700;
      margin-bottom: 12px;
   }


   form {
      margin-top: 10px;


      label {
         text-align: start;
         text-transform: uppercase;
         input {
            margin-top: 5px;
            width: 100%;
            padding: 10px;
            border-radius: 8px;
            border: 1px solid #F0F1F7;
            outline: none;
            color: #8a8a8a;
            margin-bottom: 10px;
            &::placeholder {
               color: #4B506D;
               opacity:0.4; 
             }
         }

         .input-icon{
            position: relative;
         }
         .icon{
            position: absolute;
            right: 40px;
            bottom: 155px;
            color:#9FA2B4;
         }
      }
      button{
         background-color: #fff;
         border: none;
         cursor: pointer;
      }
   }
}